.menu {
    border: 1px solid #e4e6e7;
    /* display:inline-block */
    padding: 1.5%;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.5);
}

.category {
    padding:1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: #f5f5f5;
    color: #3f464c;
    /* margin: 0 auto; */
    height: 13%;
    width: auto;
    border-radius: 20px;
    border:none;
}

.category:hover {
    font-weight: 600;
    color:#000000;
}

.category:active {
    background-color:#1ecca2;
    color:#f0fff9;
}

.category:visited {
    background-color:#1ecca2;
    color:#3f464c;
    font-weight: 600;
}

.block {
    display: inline-block;
    border-radius: 5px;
    width: 43%;
    line-height: 1.15;
    margin: 3% 1% 2% 2%;
}

.box {
    background-color: #e4e6e7;
    border-radius: 12px;
    width:90%;
    height:30%;
    padding:0.5% 0% 0.5% 0%;
    text-align: right;
    line-height: 1;
}

.won {
    color:#a5aaab;
    font-size: 18px;
    padding-right: 4.5%;
}

.number {
    font-size: 30px;
    font-weight: 400;
    padding-right: 4.5%;
}

.note {
    text-align: right;
    color:#a5aaab;
    padding-right:10.5%;
    padding-bottom: 0.6%;
}

.highlight {
    color:#1ecca2;

}


input {
    display: block;
    /* width:250px;
    height:40px;
    margin:0 auto; */
    background: #e4e6e7;
    outline-color: #d9dcdd;
    border: 7px solid #e4e6e7;
    border-radius: 3px;
    width: 95%;
    height:30%;
    text-align: right;
    font-size: 30px;
    padding-bottom: 1%;
}

form {
    /* width:350px; */
}

.option {
    font-weight: 100;
    font-size: 15px;
    padding-left:52%;
}

.option:active {
    font-weight: 200;
    color:#1ecca2;
}

.setting {
    background-color: #191e23;
    color:white;
    padding:3% 0.7%;
    width:15%;
    border-radius: 12px;
    border:none;
    margin-right: 0.6%;
}

#calculate {
    background-color: #1ecca2;
    color:white;
    padding:3% 0.7%;
    width:57.8%;
    border-radius: 12px;
    border:none;
}

ul {
    list-style-type: '⏥  ';
    background-color: #f5f5f5;
    color: #3f464c;
    padding:3%;
    padding-left: 8%;
    border-radius: 12px;
    line-height: 1.5em;
}